@import "./tailwind.css";
@import "./transition.css";
@import "./fonts.css";

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

body.gray-mode {
  filter: grayscale(100%);
}

#app {
  height: 100%;
}

button {
  cursor: pointer;
}

/* n-dialog */
.n-dialog__content {
  margin: 16px 0 !important;
}
