@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background-root: #f5f7f9;
  --background: #ffffff;
  --foreground-base: #18181c;
  --foreground-subtle: #52525b;
  --gray-200: #f3f3f5;

  --default-100: #f4f4f5;

  --primary: #30b092;
  --primary: #30b092;
  --success: #22c55e;
  --warning: #faad14;
  --error: #f5222d;
}

html.dark {
  --background-root: #101014;
  --background: #18181c;
  --foreground-base: #ffffff;
  --foreground-subtle: #a1a1aa;
  --gray-200: #2d2d30;

  --default-100: #27272a;

  --primary: #30b092;
  --success: #22c55e;
  --warning: #faad14;
  --error: #f5222d;
}

@theme inline {
  --color-background-root: var(--background-root);
  --color-background: var(--background);
  --color-foreground: var(--foreground-base);
  --color-foreground-subtle: var(--foreground-subtle);
  --color-gray-200: var(--gray-200);

  --color-default-100: var(--default-100);

  --color-primary: var(--primary);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
}

@theme {
  --font-maple: "Maple", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --text-8: 0.5rem;
  --text-9: 0.5625rem;
  --text-10: 0.625rem;
  --text-11: 0.6875rem;
  --text-13: 0.8125rem;
  --text-15: 0.9375rem;
  --text-17: 1.0625rem;
  --text-22: 1.375rem;
  --text-26: 1.625rem;
  --text-27: 1.6875rem;
  --text-28: 1.75rem;
  --text-28--line-height: 2.25rem;
  --text-32: 2rem;
  --text-32--line-height: 2.25rem;
  --text-40: 2.5rem;
  --text-40--line-height: 3.1rem;
  --text-48: 3rem;
  --text-48--line-height: 1.243;

  --tracking-tightest: 0.01px;
  --tracking-sm: 0.02px;
  --tracking-lg: 0.38px;

  ----shadow-xs: 2px 0 8px 0 rgb(29 35 41 / 5%);
  --tracking-max: 1.75px;

  --scale-120: 1.2;

  --animate-blink: blink 1.4s both infinite;
  --animate-shimmer: shimmer 2s linear infinite;
  @keyframes blink {
    0% {
      opacity: 0.2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
